<mat-card>
  
  <form (submit)="onSignUp(f)" #f="ngForm" >  
    <mat-form-field>
      <input placeholder="Email" matInput type="email" name="email" #emailInput="ngModel" ngModel required email>
      
      <mat-error *ngIf="emailInput.invalid"> Please enter valid email</mat-error>
    
    </mat-form-field>
    <br>
  
    <mat-form-field>
     <input type="password" matInput placeholder="password" name="password"  #pwdInput="ngModel" ngModel required>
     <mat-error *ngIf="pwdInput.invalid"> Please enter valid password</mat-error>
    </mat-form-field>
    <br>
    <button mat-raised-button color="accent" type="submit">SignUp</button>
  
  </form>
  
  </mat-card>
  
  
  
  
